<!DOCTYPE <!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      
        <form action="login" method="post">
            {% csrf_token %}
            
            <input type="text" name="username" placeholder="UserName"><br>
            <input type="password" name="Password" placeholder="Password"><br>
            <input type="submit">

        </form>

        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
        
        <script src="" async defer></script>
    </body>
</html>